body,
html {
  width: 100%;
  font-size: 13.3335vw;
  background: #f5f5f5;
  font-family: PingFangSC-Regular, Noto Sans CJK SC, Source Han Sans CNArial, Helvetica, sans-serif;
}

body {
  font-size: .36rem;
  background: white;
}

[v-cloak] {
  display: none;
}

a {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-user-select: none;
  -moz-user-focus: none;
  -moz-user-select: none;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 5;
  width: 100%;
  height: 1rem;
  line-height: 1rem;
  background-color: #fff;
  color: #000;
  border-bottom: 1px solid #dbdbdb;
}
header .back {
  width: 1rem;
  height: 1rem;
  position: absolute;
  left: .2rem;
  color: #000;
  font-size: .4rem;
}
header .back:before {
  font-size: .35rem;
  line-height: 1rem;
}
header h2 {
  text-align: center;
  font-size: .34rem;
  color: #000;
  height: 1rem;
  line-height: 1.3;
  padding-top: .1rem;
}
header h2 span {
  display: block;
  font-weight: 400;
  font-size: .28rem;
}

.plane {
  display: block;
  margin-top: 1rem;
  height: 0.86rem;
  line-height: 0.86rem;
  padding-left: 0.20rem;
  background-color: white;
  border-bottom: 1px solid #c8c8c8;
  border-image: url(http://pic.c-ctrip.com/h5/visa/border_half.png) 2 stretch;
}

.scroller {
  position: absolute;
  left: 0;
  top: 1.2rem;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.scroller ul {
  padding: 0 .22rem;
}
.scroller ul li {
  background: #fff;
  height: 2rem;
  -webkit-border-radius: .06rem;
  -moz-border-radius: .06rem;
  border-radius: .06rem;
  padding: .15rem .22rem;
  margin-bottom: .2rem;
}
.scroller ul li h4 {
  color: #111;
  padding-bottom: .2rem;
  font-size: .3rem;
  font-weight: 400;
}
.scroller ul li p {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  background: url(https://fr-static.huangbaoche.com/20180802/listIcon.8cc1d664c1a54429.png) no-repeat center 0.2rem;
  -webkit-background-size: 1.02rem .3rem;
  -moz-background-size: 1.02rem .3rem;
  background-size: 1.02rem .3rem;
}
.scroller ul li p span {
  display: block;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: .48rem;
  margin-left: .55rem;
  font-weight: 600;
}
.scroller ul li p span small {
  font-size: .24rem;
  color: #999;
  display: block;
  font-weight: 400;
}
.scroller ul li p span:first-of-type {
  text-align: right;
  margin-left: 0;
  margin-right: .8rem;
}
