body,
html {
  width: 100%;
  height: 100%;
  font-size: 13.3335vw;
  background: #f5f5f5;
  font-family: PingFangSC-Regular, Noto Sans CJK SC, Source Han Sans CNArial, Helvetica, sans-serif;
}

body {
  font-size: .36rem;
  background: #f4f4f4;
}

[v-cloak] {
  display: none;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 5;
  width: 100%;
  height: 1rem;
  line-height: 1rem;
  background-color: #fff;
  color: #000;
  border-bottom: 1px solid #dbdbdb;
}
header .back {
  width: 1rem;
  height: 1rem;
  position: absolute;
  left: .2rem;
  color: #000;
  font-size: .4rem;
}
header .back:before {
  font-size: .35rem;
  line-height: 1rem;
}
header h2 {
  text-align: center;
  font-size: .34rem;
  color: #000;
}

#airportService {
  padding-top: 1.2rem;
}
#airportService .plane {
  width: 7.5rem;
  margin-bottom: .2rem;
  color: #111;
  position: relative;
}
#airportService .plane .plane-info {
  width: 7.1rem;
  margin: 0 auto;
  padding: 0 .2rem;
  background: #fff;
  border-radius: .06rem;
  margin-bottom: .2rem;
}
#airportService .plane .plane-info .info-title {
  background-image: url(https://fr-static.huangbaoche.com/20180802/h-b.ceb025d18324080c.png);
  -webkit-background-size: auto 1px;
  -moz-background-size: auto 1px;
  background-size: auto 1px;
  background-repeat: repeat-x;
  background-position: 0 100%;
}
#airportService .plane .plane-info .info-title ul {
  display: flex;
}
#airportService .plane .plane-info .info-title ul .active {
  border-bottom: .08rem solid #ffc828;
  color: #ffc828;
}
#airportService .plane .plane-info .info-title ul li:first-child:after {
  content: "";
  width: 1px;
  height: .43rem;
  background-image: url(https://fr-static.huangbaoche.com/20180802/h-r.0162ba8930fd7ed8.png);
  -webkit-background-size: 1px auto;
  -moz-background-size: 1px auto;
  background-size: 1px auto;
  background-repeat: repeat-y;
  background-position: 100% 0;
  position: absolute;
  right: 0;
  top: .25rem;
}
#airportService .plane .plane-info .info-title ul li {
  height: .9rem;
  line-height: .9rem;
  text-align: center;
  font-size: .3rem;
  color: #4a4a4a;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: relative;
}
#airportService .plane .plane-info .info-title ul li a {
  display: block;
}
#airportService .plane .plane-info .form-row {
  height: 1.1rem;
  background-image: url(https://fr-static.huangbaoche.com/20180802/h-b.ceb025d18324080c.png);
  -webkit-background-size: auto 1px;
  -moz-background-size: auto 1px;
  background-size: auto 1px;
  background-repeat: repeat-x;
  background-position: 0 100%;
  position: relative;
  padding: 0 0 0 .9rem;
}
#airportService .plane .plane-info .form-row:last-child {
  background-image: none;
}
#airportService .plane .plane-info .form-row i {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  position: absolute;
  left: .1rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
#airportService .plane .plane-info .form-row i.icon-plane {
  width: .38rem;
  height: .38rem;
  background-image: url(https://fr-static.huangbaoche.com/20180802/plane.2c47e6c6b7a96561.png);
}
#airportService .plane .plane-info .form-row i.icon-place {
  width: .32rem;
  height: .39rem;
  background-image: url(https://fr-static.huangbaoche.com/20180802/location.2abbbdb267fcc498.png);
}
#airportService .plane .plane-info .form-row i.icon-time {
  width: .34rem;
  height: .34rem;
  background-image: url(https://fr-static.huangbaoche.com/20180802/date.9a8d84c221820b48.png);
}
#airportService .plane .plane-info .form-row .placeholder {
  font-size: .36rem;
  color: #cecece;
}
#airportService .plane .plane-info .form-row input {
  font-size: .36rem;
  color: #111;
  vertical-align: middle;
  width: 80%;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  word-break: break-all;
  border: none;
  margin: 0;
  padding: 0;
}
#airportService .plane .plane-info .form-row ::-webkit-input-placeholder,
#airportService .plane .plane-info .form-row [placeholder],
#airportService .plane .plane-info .form-row input[placeholder] {
  color: #cecece;
}
#airportService .plane .plane-info .form-row input[type=text] {
  outline: none;
  line-height: normal;
}
#airportService .plane .plane-info #J-dest,
#airportService .plane .plane-info #J-endAir,
#airportService .plane .plane-info #J-timeSelect {
  display: flex;
  align-items: center;
}
#airportService .plane-car {
  width: 7.1rem;
  margin: 0 auto;
  padding: 0 .2rem;
  background: #fff;
  -webkit-border-radius: .06rem;
  -moz-border-radius: .06rem;
  border-radius: .06rem;
  margin-bottom: .2rem;
}
#airportService .plane-car .top {
  padding-top: .2rem;
  overflow: hidden;
}
#airportService .plane-car .top h5 {
  font-size: .26rem;
  color: #999;
  float: left;
  font-weight: 400;
}
#airportService .plane-car .box-line {
  padding: .2rem 0;
  background-image: url(https://fr-static.huangbaoche.com/20180802/h-b.ceb025d18324080c.png);
  -webkit-background-size: auto 1px;
  -moz-background-size: auto 1px;
  background-size: auto 1px;
  background-repeat: repeat-x;
  background-position: 0 100%;
}
#airportService .plane-car .box-line .car-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
#airportService .plane-car .box-line .car-item .radio .out {
  display: inline-block;
  position: relative;
  width: 18px;
  height: 18px;
  margin-right: .2rem;
  background: #fff;
  border: 1px solid #a8a8a8;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
#airportService .plane-car .box-line .car-item .radio .out .in {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -4px;
  margin-left: -4px;
  display: inline-block;
  width: 8px;
  height: 8px;
  background: #dbdbdb;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
#airportService .plane-car .box-line .car-item .car-type {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
#airportService .plane-car .box-line .car-item .car-type .name {
  font-size: .3rem;
  color: #161616;
  line-height: .36rem;
}
#airportService .plane-car .box-line .car-item .price span {
  color: #f63308;
  font-size: .26rem;
}
#airportService .plane-car .box-line .car-item .price span:before {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e66b";
}
#airportService .plane-car .box-line .car-info {
  font-size: .22rem;
  color: #7f7f7f;
  margin-left: .5rem;
  display: none;
}
#airportService .plane-car .checked .car-item .radio .out {
  border: none;
  background-color: #ffc110;
}
#airportService .plane-car .checked .car-item .radio .out .in {
  background-color: #fff;
}
#airportService .plane-car .checked .car-info {
  display: block;
}
#airportService .plane-car .J-more {
  text-align: center;
  font-size: .24rem;
  color: #161616;
  height: .58rem;
  line-height: .58rem;
}
#airportService .plane-car .J-more #J-more {
  display: block;
  width: 100%;
  height: .58rem;
  line-height: .58rem;
}
#airportService .plane-car .J-more #J-more .arrow {
  display: inline-block;
  width: 0;
  height: 0;
  border: 4px solid transparent;
  border-top: 5px solid #161616;
  vertical-align: middle;
  margin-left: .1rem;
}
#airportService .plane-car .J-more #J-more .retract {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  margin-top: -.12rem;
}
#airportService .box {
  width: 7.1rem;
  margin: 0 auto;
  padding: 0 .2rem;
  background: #fff;
  -webkit-border-radius: .06rem;
  -moz-border-radius: .06rem;
  border-radius: .06rem;
  margin-bottom: 1.4rem;
}
#airportService .box .box-line {
  padding: .2rem 0;
  background-image: url(https://fr-static.huangbaoche.com/20180802/h-b.ceb025d18324080c.png);
  -webkit-background-size: auto 1px;
  -moz-background-size: auto 1px;
  background-size: auto 1px;
  background-repeat: repeat-x;
  background-position: 0 100%;
}
#airportService .box .box-line:last-child {
  background-image: none;
}
#airportService .box h5 {
  font-size: .26rem;
  color: #999;
  font-weight: 400;
}
#airportService .box .form {
  font-size: .36rem;
  color: #111;
  width: 100%;
}
#airportService .box input {
  outline: none;
  line-height: normal;
  border: none;
}
#airportService .box input[class="qh"] {
  width: 0.4rem;
}
#airportService .box .code-box ::-webkit-input-placeholder,
#airportService .box .code-box [placeholder],
#airportService .box .code-box input[placeholder] {
  color: #111;
  font-weight: 400;
  font-size: .36rem;
}
#airportService .box input[id="contactTel"] {
  width: auto;
}
#airportService .plane-confirm {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 3;
}
#airportService .plane-confirm .confirm-box {
  height: 1.2rem;
}
#airportService .plane-confirm .confirm-box .price-info {
  float: left;
  width: 4.7rem;
  height: 1.2rem;
  line-height: 1.2rem;
  background: #111;
  color: #fff;
  font-size: .36rem;
  text-align: center;
}
#airportService .plane-confirm .confirm-box .submit {
  float: left;
  width: 2.8rem;
  height: 1.2rem;
  line-height: 1.2rem;
  background: #fed631;
  color: #111;
  font-size: .36rem;
  text-align: center;
}
